<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
      <div class="social-media-list" style="display: flex; gap: 20px;">
        <a href="https://github.com/salience-ai" target="_blank" style="text-decoration: none;">
          <img src="{{ '/assets/image/github.svg' | relative_url }}" alt="GitHub" style="width: 16px; height: 16px;">
        </a>
        <a href="https://www.x.com/salience_ai" target="_blank" style="text-decoration: none;">
          <img src="{{ '/assets/image/x.svg' | relative_url }}" alt="X/Twitter" style="width: 16px; height: 16px;">
        </a>
        <a href="https://huggingface.co/salience-ai" target="_blank" style="text-decoration: none;">
          <img src="{{ '/assets/image/huggingface.png' | relative_url }}" alt="Hugging Face" style="width: 16px; height: 16px;">
        </a>
      </div>
    </div>
  </div>
</footer>
