<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/image/favicon.png">
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">

  {% seo %}
</head>

<body>
  {% include header.html %}
  
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </main>

  {% include footer.html %}
</body>

</html>